.movie-grid {
    display: flex;
    margin: auto;
    margin-top: 30px;
    margin-left: 50px;
    width: 100%;
}

.square {
    border: 1px solid gray;
    height: 600px;
    width: 350px;
    padding: 0px 30px;
    overflow: hidden;
}

.movie-title {
    text-align: center;
    padding-top: 10px;
}

.poster-img {
    text-align: center;
    width: 75%;
    height: 60%;
    display: block;
    margin: auto;
    padding: 10px 0px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    min-height: 80px;
    background: indigo;
    color: white;
}

#title {
    padding-top: 15px;
    padding-left: 30px;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 20px;
}

.nav-links a:link {
    text-decoration: none;
}

.nav-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}